@font-face {
  font-family: bootle;
  src: url(../fonts/BOOTLE__.woff2);
}

@font-face {
  font-family: rockstage;
  src: url(../fonts/Rockstage\ \(1\).woff2);
}

@font-face {
  font-family: squealer;
  src: url(../fonts/squealer.regular.woff2);
}

@font-face {
  font-family: myriadpro;
  src: url(../fonts/MyriadPro-Regular.woff2);
}