@font-face {
  font-family: bootle;
  src: url(../fonts/BOOTLE__.woff2);
}

@font-face {
  font-family: rockstage;
  src: url(../fonts/Rockstage\ \(1\).woff2);
}

@font-face {
  font-family: squealer;
  src: url(../fonts/squealer.regular.woff2);
}

@font-face {
  font-family: myriadpro;
  src: url(../fonts/MyriadPro-Regular.woff2);
}

body {
  margin: 0;
  font-family: myriadpro;
}

.flex-container-header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-element {
  color: white;
  margin: 10px;
  font-size: x-large;
  text-decoration: none;
}

.header-element img {
  min-width: 100px;
}

.typo-60 {
  font-family: bootle;
}

.typo-70 {
  font-family: squealer;
}

.avantages-produit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  padding: 5px;
}

.avantage {
  max-width: 170px;
  max-height: 170px;
  background-color: white;
  margin: 5px;
  font-size: x-small;
}

.avantage p {
  margin: 5px;
}
.avantage h2 {
  font-size: medium;
  margin: 5px;
}
.avantage img {
  max-width: 50px;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 10px;
}

.button {
  font-size: x-large;
  text-decoration: none;
  color: black;
}

.flex-container-footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-container-footer img {
  min-width: 100px;
}

.footer-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-element {
  margin: 5px 10px 5px 10px;
  color: white;
  text-decoration: none;
  font-size: small;
}